<html>
<head>
  <title>Sarah Goes to Oulu</title>
  </head>

<body>
  <div>
  <h1><strong><a href="/">Sarah Goes to Oulu</a></strong></h1>
  <h2>My journey continues...</h2>
  </div>
  <br>
  <br>

  <div>
  <p>published: 03.11.2018, 14.05</p>
  <h3><a href="">The First Thing You Need to Know</a></h3>
  <p>Follow me on Instagram <a href="https://www.instagram.com/sarahgoestooulu/">@sarahgoestooulu</a></p>
<br>
</div>

  {% for post in posts %}
  <div>

    <h3><a href="">{{ post.title}}</a></h3>
    <p>published: {{ post.published_date}}</p>
    <p>{{ post.text|linebreaksbr }}</p>
    <br>
  </div>
  {% endfor %}

  </body>
  </html>
