h1 a {
  color: #CA67E6;
  font-family: 'Lato';
}


h2 {
  color: #40B39E;
  font-family: 'Lato';
}

h3 a {
  color: #B75AD1;
  font-family: 'Lato';
}

h4 a {
  color: #B75AD1;
  font-family: 'Lato';
}

h5 a {
  color: #B75AD1;
  font-family: 'Lato';
}

h6 a {
  color: #B75AD1;
  font-family: 'Lato';
}

body {
  padding-left: 15px;
}
